[Desktop Entry]
Type=Application
Name=DRH Launcher
Comment=Install, update, configure, and play Dungeon Rampage Haxe
Exec=DRH-Launcher
Icon=DRH-Launcher
Terminal=false
Categories=Game;
StartupNotify=true
StartupWMClass=io.github.Tutez64.DRHLauncher
